/* ********TOP NAV********** */

.topnav {
  margin-top: 5px;
  background-color: #553d67;
  padding: 20px 70px;
  margin: 0;
}

.topnav a {
  margin-top: 25px;
  float: right;
  padding: 5px;
  color: white;
  text-decoration: none;
  font-size:25px;
  width: 20%; /* Four links of equal widths */
  text-align: center;
}

.main-banner {
  margin: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ************FIRST ROW************ */
.big-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* **********2ND ROW W/3 IMG*********** */
.three-pics {
display: inline-block;
/* background-color: red; */
margin-bottom: 40px;
margin-left: 15.5%;
}

.images img{
  margin: 0 15px;
}


/* **********IMG & TEXT***************** */
.info-content  {
  display: inline-block;
  margin-left: 245px;
  margin-right: 0;
}

.wrapper {
  display: inline-block;
  margin:0;
}

.bottom-img {
  margin-right: 30px;
}

.text-scroll {
  display: inline-block;
  color: #553d67;
  font-style: initial;
  margin-left: 0px;
  height:370px;
  width:425px;
  font:16px/26px Georgia, Garamond, Serif;
}

button{
  display: inline;
  background-color: #553d67;
  border-radius: 4px;
}

/* **********FOOTER********** */
footer {
  clear: both;
  margin-top: 40px;
  background-color: #553d67;
  position: relative;
  height: 150px;
  /* margin-top: -200px; */
}